.fa-bars::before{
  content: '\f0c9';
}
.fa-telegram::before{
  content: '\f2c6';
}
.fa-envelope::before{
  content: '\f0e0';
}
.fa-envelope-open::before{
  content: '\f2b6';
}
.fa-github::before{
  content: '\f09b';
}
.fa-linkedin:before{
  content: '\f08c';
}
.fa-angle-right::before{
  content: '\f105';
}
.fa-chevron-right::before{
  content: '\f054';
}
.fa-arrow-alt-left::before{
  content: '\f355';
}
