$mainFont: 'Helvetica Now Display';
.projects__review_tech {
  font-weight: 400;
  font-size: 15px;
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  column-gap: 7px;
  & > div {
    display: flex;
    align-items: center;
  }
}
.tech {
  font-family: $mainFont;
  &_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7px;
    row-gap: 5px;
    column-gap: 7px;
  }
  &_square {
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border: 2px white solid;
    animation: squareScale 0.5s;
    position: relative;
    &::after {
      content: '';
      width: 50%;
      height: 50%;
      background: white;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes squareScale {
    0% {
      transform: scale(0.3) rotate(45deg);
    }
    70% {
      transform: scale(1.1) rotate(45deg);
    }
    100% {
      transform: scale(1) rotate(45deg);
    }
  }

  &-js,
  &-ts {
    & > div {
      display: flex;
    }
    & span {
      font-weight: 900;
    }
    & h4 {
      font-weight: 400;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
